<% @title= "Buildings" %>

<%= render 'layouts/navigation' %>
<%= render 'jumbotron' %>

<div class="container">
  <% if @buildings %>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <input class="form-control" id="searchBuilding" type="text" placeholder="Search for a Building...">
      </div>
    </div>

  <div id="building" class="list-group text-center col-xs-8 col-xs-offset-2 buildings">

      <% @buildings.each do |building| %>
        <div class="around_link_div">
        <div class="button_today_div">
          <%= button_to "DAY INFO", day_info_path, :method => "get", class: "btn btn-primary btn-sm btn-custom", form: {target: '_blank'} %>
        </div>
        <%= link_to building.title, building_path(building), class: "list-group-item" %>
        </div>
        <% end %>
    <% else %>
      <h1 align="center"> No buildings to show</h1>

  </div>
  <% end %>
</div>