<% @title= "Contact" %>

<%= render 'layouts/navigation' %>

<%= render 'jumbotron' %>

<div class="container text-center">
  <p>Unicorn College s.r.o.</p>
  <p>V Kapslovně 2767/2 </p>
  <p>130 00 Praha 3 </p>
  <p>Tel.: (+420) 271 097 111 </p>
  <p>Fax: (+420) 221 400 114 </p>
  <p>info@unicorncollege.cz </p>
  <p><%= link_to "www.unicorncollege.cz", "https://www.unicorncollege.cz", :target => '_blank' %> </p>

</div>