<% @title= "Schedule" %>

<%= render 'layouts/navigation' %>

<div class="jumbotron jumbotron_others">
  <div class="container">
    <%= link_to root_path, class:"back" do %>
      <h2 class="col-xs-1 ">
        <span class="glyphicon glyphicon-fast-backward"></span>
      </h2>
    <% end %>

    <h2 class="text-center">Schedule of a Room</h2>
  </div>
</div>

<div class="container">
  <%= link_to :back, class:"back" do %>
    <h2 class="col-xs-1 ">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </h2>
  <% end %>

</div>
