<div class="container">
  <h1 align="center"><%= @course.title %></h1>
  <h2 align="center">Something will be here soon.</h2>
  <div class="text-center">
    <%= link_to "Return to all courses", admin_courses_path %>
  </div>
</div>